@font-face {
	font-family: 'HelveticaLight';
	src: url('../assets/fonts/helvetica_light.eot');
	src:  url('../assets/fonts/helvetica_light.woff') format('woff'), url('../assets/fonts/helvetica_light.ttf') format('truetype');

}

@font-face {
	font-family: 'HelveticaRegular';
	src: url('../assets/fonts/helvetica_regular.eot');
	src: url('../assets/fonts/helvetica_regular.woff') format('woff'), url('../assets/fonts/helvetica_regular.ttf') format('truetype') ;

}

@font-face {
	font-family: 'HelveticaBold';
	src: url('../assets/fonts/helvetica_bold.eot');
	src: url('../assets/fonts/helvetica_bold.woff') format('woff'), url('../assets/fonts/helvetica_bold.ttf') format('truetype');
}

html {
    font-size: 10px;
}

body {
    font-family: HelveticaLight;
    color: white;
}

.container {
    height: inherit;
    width: 92vw;
    margin: 0 auto;
}
.wrapper {
    position: relative;
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
    overflow: hidden;
    background: black;

}
.bg {
    background: url('../assets/img/about-me.jpeg') no-repeat;
    background-size: cover;    
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    &__menu {
        margin: 60px 0 0 0;
    }

}

.socials {

    &__inst {
        display: block;
        width: 26px;
        height: 26px;
        background: url('../assets/img/instIcon.svg') no-repeat;
    }
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nav {
    &__list {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        font-size: clamp(16px, 1.111vw, 48px);
        font-family: HelveticaLight;
    } 
}

.title {
    font-family: HelveticaRegular;
    font-size: clamp(30px, 4.166vw, 100px);
    line-height: 1.5;
    opacity: 0;
    animation: anim 1.5s forwards ease .5s;
    margin-bottom: 9vh;
    padding-left: 14px;
}

.intro {
    margin-top: 35vh;
    &__subtitle {
        margin-top: 20px;
        font-family: HelveticaLight;
        font-size: calc(10px + 10 * (100vw / 1230));
        text-transform: uppercase;
        letter-spacing: 13px;

        opacity: 0;
        animation: anim 1.5s forwards ease 1s;
    }
}

.footer {
    margin: 40px 0;

    &__container {
        display: grid;
        justify-content: flex-end;
        align-items: center;
    }
}

// @media (min-width: 2000px) {
//     .container {
//         max-width: 1800px;
//     }
// }